@import './resst';

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    box-shadow: 0px 8px 20px 5px #dadadabf;

    &>p:nth-child(1) {
        color: rgb(0, 195, 255);
    }
}

#modes {
    display: flex;
    color: rgb(119, 119, 119);

    &>p:nth-child(1) {
        margin-right: 1rem;
    }
}

#color-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;

    &>* {
        padding: .5rem 1rem;
    }
}

#color-block__text {
    border: 1px solid black;
    color: white;
    background-color: black;
    border-radius: 10px;

    span {
        color: rgb(0, 195, 255);
    }
}

#color-block__btn {
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 2rem;
    transition: 0.3s;

    &:hover {
        color: white;
        background-color: black;
        cursor: pointer;
    }
}